html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #FF8200;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.logo1 {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 80px;
    height: auto;
    z-index: 10;
}

.header-fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FF8200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.topo-fixo {
    position: fixed;
    top: 25px;
    left: 100px;
    z-index: 10;
    color: #FF8200;
    font-size: 40px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.caixa-botoes {
    position: fixed;
    display: flex;
    gap: 20px;
    top: 25px;
    right: 100px;
}

.btn-hover {
    padding: 12px 25px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #FF8200;
    border: 2px solid #FF8200;
    border-radius: 8px;
    background: transparent;
    transition: 0.1s ease;
    cursor: pointer;
    text-decoration: none;
}

.btn-hover:hover {
    background: #FF8200 !important;
    color: black !important;
}

.caixa {
    margin-top: 100px;
    width: 320px;
    height: 500px;
    background-color: #ffffff91;
    border-radius: 15px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    font-size: 15px;
}

.caixa input,
.caixa select {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    outline: none;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300;
    border-radius: 8px;
    border: 3px solid transparent;
    background-color: #FF8200;
    color: white;
    font-size: 20px;
}

button:hover {
    background: rgba(6, 6, 6, 0.727) !important;
    color: white !important;
}
