body {
  font-family: Arial, sans-serif;
  background: #f7f6f6a4;
  color: #fff;
  margin: 0;
  padding: 0;
}

.logo1 {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
  height: auto;
  z-index: 10;
}

.header-fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-color: rgba(0, 0, 0, 0);
  color: #FF8200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
  backdrop-filter: blur(6px);
}

.topo-fixo {
  position: fixed;
  top: 25px;
  left: 100px;
  z-index: 10;
  color: #FF8200;
  font-size: 40px;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.caixa-botoes {
  position: fixed;
  top: 25px;
  right: 100px;
  display: flex;
  gap: 20px;
}

.btn-hover {
  padding: 12px 25px;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #FF8200;
  border: 2px solid #FF8200;
  border-radius: 8px;
  background: transparent;
  transition: 0.1s ease;
  cursor: pointer;
  text-decoration: none;
}

.btn-hover:hover {
  background: #FF8200 !important;
  color: black !important;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  background: rgba(20, 20, 20, 0.85);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.sub {
  text-align: center;
  opacity: 0.8;
}

.pergunta {
  margin-bottom: 22px;
}

.pergunta h3 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin: 7px 0;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 8px;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #FF8200;
  border: none;
  color: #000;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}

.btn:hover {
  background: #ffa142;
}

.resultado {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #FF8200;
  text-align: center;
}

.oculto {
  display: none;
}